<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xmlns:context="http://www.springframework.org/schema/context"
	     xsi:schemaLocation="
	     http://www.springframework.org/schema/beans
	      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	 <!-- 当前Spring支持注解 -->
	 <context:annotation-config/>
	 <!-- 设置当前项目的根包 -->
	 <context:component-scan base-package="/cn.jit.edu" />
	 
	<!-- 配置数据源 -->
	<bean id="MySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/student?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		
		<property name="username" value="root"></property>
		<property name="password" value="admin"></property>
	</bean>
	<!-- 配置数据源结束 -->
	
	<!-- 配置session工厂 -->
	<!-- 完成请求和注解POJO的映射 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="MySqlDataSource" />
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>  <!--自动建表  --> 
			</props>
		</property>
		
		<property name="packagesToScan">
			<list>
				<!-- 扫描所有实体类 -->
				<value>cn.jit.edu.entity</value>
			</list>
		</property>
	</bean>
	
	
	 <bean id="entityDao" class="cn.jit.edu.dao.EntityDaoImpl">  
       <property name="sessionFactory" ref="sessionFactory" />
   </bean>
	 

	
	<!-- 事务管理配置  -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
		<property name="sessionFactory">  
			<ref local="sessionFactory" />  
		</property>  
	</bean>
</beans>